{% extends 'base.html' %}

{% block title %}
myprofile
{% endblock title %}

{% block content %}

<!--You can comment the below line when you wish-->
<h1>This is comming from myprofile.html</h1>
<!-- Button trigger modal -->
{% if confirm %}
<div class="alert alert-info" role="alert">
  Profile Updated
</div>
{% endif %}
<img src="{{profile.avatar.url}}" class="rounded-circle" alt="...">
<h3>Username: @{{request.user}}</h3>
<h3>Name: {{profile.first_name}} {{profile.last_name}}</h3>
<h3>Bio: {{profile.bio}}</h3>
<h3>Email: {{profile.email}}</h3>
<h3>Country: {{profile.country}}</h3>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
Update Profile
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="modal-body form-group">
                    {% csrf_token %}
                    {{form.as_p}}
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}

<!--Scripts here -->

{% endblock scripts %}